<h1>Orders Summry</h1>
<div class="card">
    <div class="card-body">
<h3>Order Detail</h3>
        <%@current_cart.line_items.each do |product|%>
             <div class="d-flex my-3 ">
                <div>
                    <%=image_tag product.product.image,class:"mx-3",style:"height:100px;width:50px"%>
                </div>
                <div>
                    <h5 class="card-title"><strong>Title: </strong><%=product.product.title*product.quantity%></h5>
                    <p class="card-text"><strong>Price: </strong><%=product.product.price %></p>
                    <p class="card-text"><strong>Description: </strong><%=product.product.description%></p>
                    <hr>
                </div>
            </div>
        <%end%>
    </div>
</div>
