
<h1 class="jumbotron">Cart | Product</h1>
<div class="container">
    <div class="row">
        <div class="col-12 card">
            <table class="table">
                <thead> 
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quentity</th>
                    <th>Subtotal</th>
                </thead>
                <tbody>
                    <%=render "cart_product" %>
                <tbody>
            </table>
        </div>
    </div>
</div>