<%Category.all.each do |cat|%>
<tr>
    <td>
        <%=cat.name%>
    </td>
     <td>
        <%=link_to "Edit" , edit_admin_category_path(cat)%>
    </td>
     <td>
         <%=link_to "Delete" , admin_category_path(cat),method: :delete%>
    </td>
</tr>
<%end%>