<div class= "container d-flex justify-content-evenly "> 
    <div>  
        <%=render "filter_search"%>
    </div>
    <div>
        <%=render "index"%>
    </div>
</div>
<%= will_paginate @searchproducts %>
