<div class= " d-flex "> 
    <div class="flex-1" style="flex:1;">  
        <%=render "filter_search"%>
    </div>
    <div class="flex-3"style="flex:3;">
        <%=render "index"%>
    </div>
</div>
<%= will_paginate @searchproducts %>
