<div class="container my-3 d-flex">
<%@wishlists.each do |wish|%>
    <div class="card mx-4 " style="width: 18rem;">
        <%if current_user.id == wish.user.id%>
            <div class="img">
                <%=image_tag wish.product.image ,class:"card-img-top",width: "286px",height: '200px'%>
            </div>
            <div class="card-body ">
                <p class="card-text"><%=wish.product.title%>.</p>
                <p class="card-text"><b><small>Rs. </small></b><%=wish.product.price%></p>
            </div>
            <%= link_to "Add Cart", user_carts_path(product_id: wish.product), :method => :post ,class:"icon btn btn-info"%>  
        <%end%>
   </div>
<%end%>
</div>